<div class="to-do-container">
    <nz-table #basicTable [nzData]="todos" [nzSize]="'small'" [nzShowPagination]="false">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let item of todos">
                <td>{{ item.title }}</td>
                <td>{{ item.description }}</td>
                <td>
                    <button nz-button nzType="primary" [nzSize]="'small'"><span nz-icon nzType="edit"></span></button>
                </td>
            </tr>

        </tbody>
    </nz-table>
    <!-- add todo -->
    <div class="btn-container">
        <button nz-button (click)="addTodo()" nzType="primary" [nzSize]="'small'"><span nz-icon
                nzType="plus"></span></button>
    </div>
</div>


<nz-modal [(nzVisible)]="isToDoAddVisible" nzTitle="Add Todo" (nzOnCancel)="toDoAddhandleCancel()"
    (nzOnOk)="toDoAddhandleOk()">
    <ng-container *nzModalContent>
        <form nz-form [formGroup]="todoForm" (ngSubmit)="toDoAddhandleOk()">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="title">Title </nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input type="text" formControlName="title" placeholder="Please enter title" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="description">Description</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input type="text" formControlName="description" placeholder="Please enter description" />
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-container>
</nz-modal>